.about-page-title {
  display: inline-block;
  background: $theme-color-one;
  padding: 10px 30px;
  font-size: 26px;
  color: $theme-color-white;
  line-height: 36px;
  margin-bottom: 25px;
}
.mission-section {
  margin-top: 20px;
  padding: 30px;
}
.about-page-image {
  img {
    max-width: 100%;
  }
}
